@tailwind components;
@tailwind utilities;
@import url("../styles/calendar.css");

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

li::marker {
  font-size: 15px;
  color: #e9e9e9;
}

ol li {
  margin-left: 5px;
  padding-left: 10px;
}

p a,
ul a {
  font-weight: 300;
}

ol li::marker {
  font-weight: 300;
}

ul {
  padding-left: 30px;
  margin-left: 0;
}

ul li {
  padding-left: 10px;
}

ul li::marker {
  color: #6b6b6b;
}

ol {
  list-style-type: none;
  margin: 8px 0px 16px;
}

li {
  font-size: 16px;
  margin: 8px 0px;
}

code {
  font-size: 13px;
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

code span {
  font-size: 13px;
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

p img {
  margin: 0 auto;
}

p code,
li code {
  background-color: #282a2c;
  padding: 1px 6px;
  border-radius: 6px;
  font-weight: 400;
}

pre {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #f9f8f981;
  overflow-x: hidden;
  font-size: 14px;
  margin: 40px 0;
  border-width: 1px;
  max-width: 90vw;
  margin: 0 auto;
  white-space: pre-wrap;
  word-break: break-word;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

figcaption {
  font-size: small;
  text-align: center;
  opacity: 0.5;
  margin-top: 13px;
}

article p {
  font-size: 16px;
  line-height: 1.75rem;
  margin-bottom: 16px;
}

article h1 {
  margin: 20px 0 20px 0;
  font-size: 25px;
  color: white;
}

article h2 {
  margin: 20px 0 20px 0;
  font-size: 22px;
  color: white;
}

article h3 {
  margin: 20px 0 20px 0;
  font-size: 18px;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
select {
  text-transform: none;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  table-layout: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 15px;
}

td:first-child,
th {
  font-weight: 600;
}

th {
  border-bottom: 2px solid #4b5563;
  padding-bottom: 12px;
}

td {
  border-top: 1px solid #374151;
}

td,
th {
  padding: 12px 0px;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: fade-in-up 0.4s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
